* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-height: 100svh;
    background-color: #121212;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #121212;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(rgba(246, 0, 255, 1) 0%, rgba(255, 136, 0, 1) 100%);
    border-radius: 10px;
    transition: background 0.4s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(rgba(255, 136, 0, 1) 0%, rgba(246, 0, 255, 1) 100%);
    transition: background 0.4s ease-in-out;
}

.section-title {
    font-size: 36px;
    margin-bottom: 50px;
    background: linear-gradient(90deg, rgba(246,0,255,1) 0%, rgba(255,136,0,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 768px) {
    .section-title {
        font-size: 28px;
        margin-bottom: 30px;
        text-align: left;
    }
}